*{
    margin:0;
    padding:0;
}


.container{
    background-image: url('images/background.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}


#cat{
    position: fixed;
    width: 600px;
    height: auto;
    grid-column: 2;
    grid-row: 2;
    transform: translateY(-120px);
}

.slider {
    position: fixed;
    grid-column: 2;
    grid-row: 2;
    transform: translate(109px,-241px);
    display: flex;
    align-items: center;
    z-index: 10;
}

.slide {
    flex: 0 0 100%;
    transition: transform 1s ease;
    display: flex;
    gap: 40px;
}

.eyes{
    width: 76px;
    height: 75px;
}

#eye1:hover{
    fill: red;
}

#eye2:hover{
    fill:rgb(153, 106, 166);
}

#eye3:hover{
    fill: rgb(219, 127, 211);
}

#eye4:hover{
    fill:rgb(154, 221, 99);
}

#eye5:hover{
    fill:rgb(76, 150, 196);
}

.prev,
.next {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: absolute;
    text-decoration: none;
    
}

.prev {
    transform: translateX(-170px);
    
}

.next {
    transform: translateX(300px);
}


#return, #return:hover, #return:link{
    text-decoration: none;
    font-size: 20px;
    color: black;
    grid-column: 3;
    grid-row: 3;
    z-index: 100;
    position: absolute;
    transform: translate(390px,90px);
}