*{
    font-family: 'arial';
}

h1{
    font-size: 1.5rem;
    font-family: 'arial';
    font-weight: bolder;
    padding: 10px;
}

td{
    font-size: 15px;
    padding: 10px;
}

table tr td:first-child {
    font-weight: bold; 
    font-size: 17px;
}

a{
    font-size: 18px;
    padding: 10px;
}