*{
    font-family: 'arial';
}

h1{
    font-size: 2rem;
    font-family: 'arial';
    font-weight: bolder;
    margin-bottom: 30px;
}

#result h1{
    font-size: 30px;
    padding: 5px;
}

#result {
    border: 5px solid black;
    padding: 10px; 
    box-sizing: border-box; 
    width: 400px; 
    height: 550px;
    margin: 0 auto; 
    max-width: 400px; 
    align-items: center;
    text-align: center;
    display: flex; 
    flex-direction: column; 
}

#result img {
    max-width: 100%; 
    min-height: 350px;
    max-height: 350px;
    width: auto;
    height: auto;
}

#result a{
    font-size: 20px;
    padding: 10px;
}

