body{
    margin:0;
    padding: 0;
}
/* 
#container{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
} */

#container{
    position:absolute;
    width:100%;
    height:100vh;
    overflow: hidden;
    /* background: url('images/background.jpg'); */
    background-color: black;
    background-attachment: fixed;

   
}


@keyframes blinking{
    0% {  opacity: 1 }
   50% {  opacity: 0.5}
   100% { opacity: 1 }
}

.box{
    position: absolute;
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    background-color: black;
}

#startBtn{
    position: absolute;
    bottom: 5%;
    left: 38%;
    width:22%;
    height:20%;
}

#startBtn:hover{
    width:25%;
    height:22%;
}

#startText{
    position: absolute;
    top: 5%;
    left: 17%;
    width:70%;
    height:40%;
    animation: blinking;
    animation-duration: .8s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}


#nav{
    display:flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 14%;
    width:70%;
    height:40%;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

a:hover{
    color:red;
}

.shake{
    animation-name: shake;
    animation-duration: .1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }


@keyframes shake{
    0% {  transform:  translateX(0); }
   25% { transform: translateX(5px); }
   50% { transform: translateX(-5px); }
   75% { transform: translateX(5px); }
   100% { transform: rotateX(-20deg) rotateY(30deg) translateX(0); }
}
