*{
    margin:0;
    padding:0;
}

html, canvas{
    top: 0;
    left:0;
    position: fixed;
    overflow: none;
}

#webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}

#root {
  position: relative;
  z-index: 10; 
}
