
/* fix relative positioning of everything (mayeb start a new doc + go through one by one)  */
body{
    margin:0;
    padding: 0;
}

#container{
    background-image: url('images/background.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    filter: saturate(1.4);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 1fr);
    z-index: -10;
}

#canvasVideo {
    display: none;
}


#canvasContainer {
    z-index: 100000;
    position: relative;
    top: 1rem;
    left: 70rem;
}

#canvas{
    position: absolute;
}


#overlayCanvas {
    position: absolute;
}

#underCanvas{
    position: absolute;
}


video {
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    opacity: 0.5;
    z-index: 10;
}


#house{
    position: fixed;
    width: 500px;
    height: auto;
    filter: saturate(1.3);
    filter:brightness(1.3);
    z-index: 1;

    grid-column-start: 5;
    grid-row-start: 3;
}



.wrapper{
    object-fit: contain;
    position: fixed;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 13;

    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#ghost {
    opacity: 0.8;
    width: 70px;
    height: auto;
    filter: grayscale(.3);
    filter: brightness(0);
}

.ghost{
    grid-column: 4 / 6;
    grid-row: 2 /3 ;

    transform: translate(20px,40px);
    position: fixed;
}


#eyes{
    width: 40px;
    height: auto;
    filter: saturate(3);
    filter: brightness(0);
}

.eyes{
    grid-column: 9;
    grid-row: 4;

    transform: translate(-5px,38px);
    position: fixed;
}

#hands{
    width: 50px;
    height: 60px;
    
    filter:contrast(1.2);
    filter: brightness(0);
}

.hands{
    opacity: 0.9;
    grid-column: 2;
    grid-row: 4;

    transform: translate(-10px,30px);
    position: fixed;
}

#glow1{
    width: 100px;
    height: 50px;

    filter: brightness(0);
}

.glow1{
    z-index: -9;
    grid-column: 8 /10;   
    grid-row: 2 / 3;

    transform: translateY(45px);
}


#glow2{
    width: 190px;
    height: 100px;
    filter:contrast(3);
    filter: saturate(2);

    filter: brightness(0);
}

.glow2{
    z-index: -10;
    grid-column: 2/6;   
    grid-row: 4/5;
    transform: translate(25px,10px);
}

.box{
    z-index: 10;
    grid-column-start: 10;
    grid-row-start: 12;
    display: flex;
    gap: 20px;
}

audio{
    opacity: .5;
}

#homebtn{
    width: 50px;
    height: auto;
    padding-right: 15px;
}


a:active, a:hover{
    filter: saturate(5);
}


@media only screen and (prefers-color-scheme: dark) {
    #container{
        filter: grayscale(.2);
        filter: saturate(1);
    }

    #ghost, #hands,#eyes, #hands, #glow1, #glow2{
        filter: brightness(1);
    }
}
/* 
body{
    margin:0;
    padding: 0;
}

#container{
    background-image: url('images/background.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    filter: saturate(1.4);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(15, 1fr);
    z-index: -10;
}

#canvasVideo {
    display: none;
}


#canvasContainer {
    z-index: 100000;
    position: relative;
    top: 1rem;
    left: 70rem;
}

#canvas{
    position: absolute;
}


#overlayCanvas {
    position: absolute;
}

#underCanvas{
    position: absolute;
}


video {
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    opacity: 0.5;
    z-index: 10;
}


#house{
    position: absolute;
    width: 30rem;
    height: auto;
    filter: saturate(1.3);
    filter:brightness(1.3);
    z-index: 1;

    grid-column-start: 5;
    grid-row-start: 3;
}



.wrapper{
    object-fit: contain;
    position: absolute;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 13;

    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#ghost {
    position: fixed;
    opacity: 0.8;
    width: 4rem;
    height: auto;
    filter: grayscale(.3);
    filter: brightness(0);
    
}

.ghost{
    position: absolute;
    grid-column: 4 / 6;
    grid-row: 2 /3 ;

    transform: translate(1rem,2.2rem);
}


#eyes{
    position: absolute;
    width: 40px;
    height: auto;
    filter: saturate(3);
    filter: brightness(0);
}

.eyes{
    position: absolute;
    grid-column: 9;
    grid-row: 4;

    transform: translate(-5px,38px);
}

#hands{
    position: absolute;
    width: 50px;
    height: 60px;
    
    filter:contrast(1.2);
    filter: brightness(0);
}

.hands{
    position: absolute;
    opacity: 0.9;
    grid-column: 2;
    grid-row: 4;

    transform: translate(-10px,30px);
}

#glow1{
    position: absolute;

    width: 100px;
    height: 50px;

    filter: brightness(0);
}

.glow1{
    position: absolute;

    z-index: -9;
    grid-column: 8 /10;   
    grid-row: 2 / 3;

    transform: translateY(45px);
}


#glow2{
    position: absolute;

    width: 190px;
    height: 100px;
    filter:contrast(3);
    filter: saturate(2);

    filter: brightness(0);
}

.glow2{
    position: absolute;

    z-index: -10;
    grid-column: 2/6;   
    grid-row: 4/5;
    transform: translate(25px,10px);
}

.box{
    z-index: 10;
    grid-column-start: 10;
    grid-row-start: 12;
    display: flex;
    gap: 20px;
}

audio{
    opacity: .5;
}

#homebtn{
    width: 50px;
    height: auto;
    padding-right: 15px;
}


a:active, a:hover{
    filter: saturate(5);
}


@media only screen and (prefers-color-scheme: dark) {
    #container{
        filter: grayscale(.2);
        filter: saturate(1);
    }

    #ghost, #hands,#eyes, #hands, #glow1, #glow2{
        filter: brightness(1);
    }
} */