*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('images/corkboard.jpg');
    object-fit: cover;
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 5px black;
    text-align: center;
    padding: 25px;
}

#seasonDropDown{
    font-size: 15px;
    position: absolute;
    right: 0;
    margin: 10px;
}

#addbtn{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 15px;
}

#addbtnImg{
    width: 60px;
}

#addbtnImg:hover{
    width: 80px;
}


.popup, .notePopup{
    background-color: rgb(248, 248, 248);
    width: 350px;
    height: 350px;
    border-radius: 20px;
    position: absolute;
    left: 80vh;
    top: 20vh;
}


.popupTitle{
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 5px;
    font-weight: bold;
}

.notepopupTitle{
    padding-top: 60px;
    padding-left: 25px;
    font-size: 25px;
    font-weight: bold;
}

.notepopupSeason{
    font-weight: lighter;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 25px;
}

.notepopupDescription{
    font-weight: lighter;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 25px;
    padding-bottom: 10px;
}

h2,.lastAccessed{
    font-weight: lighter;
    font-size: 15px;
    padding-top: 10px;
    padding-left: 25px;
}

.closeBtn{
    margin-top: 30px;
    margin-left: 43%;
}
.popupForm{
   padding: 20px;
} 

#formDrop, #formTextarea, #formTitle{
    width: 310px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.note{
    width: 200px;
    height: 200px;
    float: inline-start;
    margin: 10px;
    cursor: pointer;
    position: relative;

    background-color: blue;
}

.deleteBtn{
    position: absolute;
    top: -.3rem; 
    right: -.3rem;
    opacity: 0;
}

.leftBtn{
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
}

.rightBtn{
    position: absolute;
    top: 50%; 
    right: 0;
    opacity: 0;
}

.noteTitle{
    font-size: 20px;
    font-weight: lighter;
    padding: 10px;
    color: black;
}

.winter{
    background-color: rgb(162, 198, 224);
}

.fall{
    background-color: rgb(244, 64, 64);
}

.spring{
    background-color: rgb(185, 246, 185);
}

.summer{
    background-color: rgb(249, 249, 134);
}

.hidePopup{
    display: none;
    visibility: hidden;
}

.showPopup{
    display: block;
    visibility: visible;
}

.checkbox{
    position: absolute;
    bottom: .5rem;
    left: 25%;
}

.editBtn{
    position: absolute;
    bottom: .5rem;
    left:.5rem;
    /* opacity: 0; */
}

