/* ALL */
.contact{
    display:flexbox;
    text-align: center;
    color: var(--font_primary);
    font-family: 'os';
}

/* HEADING */
#heading{
    padding-top: 1.5rem;
    color: var(--font_primary);   
    width: 70%;
    transform: translateX(20%);
}

#heading h1{
    padding: .1rem;
    font-size: 2rem;
}

#heading h2,
#heading h3{
    padding: .1rem;
    font-family: 'os_light';
    font-size: 1rem;
}


/* CONTACT FORM */
.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-top: 1.5rem;
    margin-right: .75rem;
}

.contact_form h3{
    font-size: 1.5rem;
}

.contact_form{
    display: flexbox;
    text-align: center;
    background-color: white;
    width: 12rem;
    height: 10rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    border-radius: 1rem;
    margin: 1rem;
}

input{
    font-family: 'os';
    font-size: .8rem;
    padding: .3rem;
    margin: .2rem;
    border-radius: .3rem;
}

#message{
    padding-bottom:2rem;
}

#deco1{
    width: 9rem;
    height: 15rem;
}

#deco2{
    width: 6.5rem;
    height: 4.5rem;
    transform: translate(6.5rem,-4.8rem);
}


@media (min-width:600px){
    #heading h1{
        font-size: 3.5rem;
    }
    
    #heading h2,
    #heading h3{
        font-size: 1.5rem;
    }

    .contact_form h3{
        font-size: 2.5rem;
    }

    .contact_form{
        width: 18rem;
        height: 16rem;
    }
    
    input{
        font-size: 1.2rem;
    }

    #message{
        padding-bottom:4rem;
    }

    #deco1{
        width: 12rem;
        height: 21rem;
    }
    
    #deco2{
        width: 9.5rem;
        height: 6.5rem;
        transform: translate(9rem,-6.8rem);
    }
}

@media (min-width:800px){
    #heading h1{
        font-size: 4.5rem;
    }
    
    #heading h2, #heading h3{
        font-size: 2rem;
    }

    .contact_form h3{
        font-size: 3.5rem;
    }

    .contact_form{
        width: 25rem;
        height: 28rem;
    }
    
    input{
        font-size: 1.8rem;
    }

    #message{
        padding-bottom: 12rem;
    }

    #deco1{
        width: 17rem;
        height: 32rem;
    }
    
    #deco2{
        width: 15rem;
        height: 13rem;
        transform: translate(13rem,-13em);
    }
}

@media (min-width:1000px){

    .wrapper{
        padding-top: 2rem;
        padding-left: 12rem;
        padding-right: 12rem;
    }

    .contact_form{
        width: 30rem;
        height: 28rem;
    }

    #deco2{
        transform: translateX(4rem);
    }

    #heading h2{
        padding-top: 2rem;
    }

    #heading h3{
        padding-top: .5rem;
    }

 




}