.form-container{
    top: 2.5rem;
    background-color: white;
    width: 320px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    overflow: hidden;
}


.form-container span{
    padding: 0 10px;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    font-size: 22px;
}

.form-btn{
    display:inline-block;
}
.form-container form{
    max-width: 320px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input{
    width: 70%;
    height: 30px;
    margin: 10px 0; 
    padding: 0 10px;
    border: 1px solid black;
}

form .btn{
    width: 70%;
    border: none;
    cursor: pointer;
    margin:10px 0;
}

form .btn:focus{
    outline: none;
}

form a{
    padding: 5px;
    font-size: 12px;
}


#login-form{
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#register-form{
    left: -320px;
}

.btn{
    border-radius: 5px;
    padding: 5px;
    background-color: var(--secondary);
    color: white;
}
