*{
    margin:0;
    padding:0;
}
a {
    text-decoration: none;
}

main{
    padding-top: 20px;
}
#small_boxes{
    width: 200px;
    height: 200px;
    padding: 10px;
}

#product_details{
    display:flex;
    align-items: center;
    padding: 7px;
}

#product_details .single_product_details{
    font-family: var(--font-family-primary);
    display: flexbox;
    width: 50%;
    padding: 15px;
    color: var(--font_primary);
}

#product_details .single_product_details h6{
    padding-bottom: 10px;
}


#product_details .single_product_details h4{
    padding-bottom: 2px;
    font-size: 30px;
}

#product_details .single_product_details h2{
    padding-bottom: 20px;
    color: black;
}

#product_details .single_product_details select{
    font-family: var(--font-family-primary);
    display: block;
    padding: 2px;
    margin-bottom: 10px;
    border-radius: 2px;
}

#product_details .single_product_details input{
    font-family: var(--font-family-primary);
    width: 25px;
    height: 25px;
    font-size: 12px;
    padding-left: 5px;
    margin-right: 10px;
    border-radius: 2px;
}

#product_details .single_product_details button{
    font-family: var(--font-family-primary);
    padding: 5.2px;
    width: 32%;
    margin-bottom: 20px;
    border-radius: 5px;
}

#product_details h5{
    font-size: 15px;
    margin-bottom: 5px;

}
#product_details span{
    font-size: 10px;
}

@media (min-width:600px){
    #product_details .single_product_details h6{
        font-size: 15px;
        padding-bottom: 20px;
    }
    
    #product_details .single_product_details h4{
        padding-bottom: 2px;
        font-size: 40px;
    }
    
    #product_details .single_product_details h2{
        font-size: 30px;
    }

    #product_details h5{
        font-size: 25px;
    }

    #product_details span{
        font-size: 13px;
    }

    #product_details .single_product_details select{
        font-size: 18px;
    }
    
    #product_details .single_product_details input{
        font-size: 18px;
    }
    
    #product_details .single_product_details button{
        font-size: 15px;;
        width: 28%;
    }
}

@media (min-width:800px){
    main{
        padding:30px;
    }
    #small_boxes{
        width: 320px;
        height: 320px;
    }

    #product_details .single_product_details h6{
        font-size: 20px;
        padding-bottom: 30px;
    }
    
    #product_details .single_product_details h4{
        font-size: 60px;
    }
    
    #product_details .single_product_details h2{
        font-size: 40px;
    }

    #product_details h5{
        font-size: 30px;
    }

    #product_details span{
        font-size: 15px;
    }

    #product_details .single_product_details select{
        font-size: 20px;
    }
    
    #product_details .single_product_details input{
        font-size: 20px;
    }
    
    #product_details .single_product_details button{
        font-size: 18px;;
    }
}


@media (min-width:1000px){
    #product_details{
        justify-content: space-evenly;
    }

    main{
        padding:50px;
    }
    #small_boxes{
        width: 500px;
        height: 500px;
        padding-right: 30px;
    }
    #product_details .single_product_details{
        transform: translateY(-50px);
    }
    #product_details .single_product_details h6{
        font-size: 30px;
        padding-bottom: 40px;
    }
    
    #product_details .single_product_details h4{
        font-size: 80px;
    }
    
    #product_details .single_product_details h2{
        font-size: 50px;
    }

    #product_details h5{
        font-size: 30px;
    }

    #product_details span{
        font-size: 15px;
    }

    #product_details .single_product_details select{
        font-size: 20px;
    }
    
    #product_details .single_product_details input{
        font-size: 20px;
    }
    
    #product_details .single_product_details button{
        font-size: 18px;
        width: 15%;
    }
}







#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
}

.sidebar{
    width: 100%;
    border-radius: 5px;
    background-color: rgb(122, 141, 188);
    margin-left: 20px;
    padding: 15px;
    text-align: center;
}

.head{
    background-color: rgb(26,46,98);
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.foot{
    display:flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid black;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(26,46,98);
    border-radius: 5px;
    padding: 15px;
}

.img-box{
    width: 100%;
    height: 180px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}

.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}

h2{
    font-size: 20px;
    color: red;
}

button{
    width: 100%;
    position:relative;
    border:none;
    border-radius: 5px;
    background-color: rgb(26,46,98);
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}

button:hover{
    background-color: black;

}

.cart-tem{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid gray;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 5px;
}

.fa-trash:hover{
    cursor: pointer;
    color: black;
}