body{
    margin:0;
    padding: 0;
    background-color: black;
    overflow: hidden
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(2rem) }
    50% { transform: translateX(-2.5rem) }
    75% { transform: translateX(2.5rem) }
    100% { transform: translateX(0) }
   }

.shake{
    animation-name: horizontal-shaking;
    animation-duration: .2s;
    animation-iteration-count: infinite;
}


#container{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100vh;
    height: 100vh;

    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    z-index: -10;
    /* filter:brightness(20%); */
}




.eyerow{
    width: 11rem;
    height: 6rem;
    justify-content: center;
    place-items: center; 
}

.eyeleftcol{
    /* transform: translateX(50%); */
    width: 6rem;
    height: 10rem;
    position: relative;
}
.eyerightcol{
    /* transform: translateX(70%); */
    width: 6rem;
    height: 10rem;
}


#eye11{
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    position: relative;
}
.eye11circle{
    width: .5rem;
    height: .4rem;
    grid-column: 1;
    grid-row: 1;
    position: absolute;
    transform: translate(120px, 55px);
}

.eye11{
    grid-column: 1;
    grid-row: 1;
    position: absolute;
}

#eye12{
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 4;
    position: relative;
}

.eye12circle{
    grid-column: 1;
    grid-row: 4;
    position: absolute;
    width: 1rem;
    height: 1rem;
    transform: translate(103px, 48px);
}

.eye12{
    grid-column: 1;
    grid-row: 4;
    position: absolute;
}

#eye13{
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 6;
    position: relative;
}

.eye13circle{
    width: .75rem;
    height: .75rem;
    grid-column: 1;
    grid-row: 7;
    position: absolute;
    transform: translate(90px, 65px);
}

.eye13{
    grid-column: 1;
    grid-row: 7;
    position: absolute;
}

#eye14{
    width: 100%;
    height: 100%;
    grid-row: 1;
    grid-column: 9;
    position: relative;
}

.eye14circle{
    width: .6rem;
    height: .6rem;
    grid-row: 1;
    grid-column: 10;
    position: absolute;
    transform: translate(35px, 67px);
}

.eye14{
    grid-row: 1;
    grid-column: 10;
    position: absolute;
}

#eye21{
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: 1;
    position: relative;
    transform: scale(0.9) translateY(-35px);
}

.eye21circle{
    width:.5rem;
    height:.5rem;
    grid-row: 2;
    grid-column: 1;
    position: absolute;
    transform: translate(59px, 92px);
}

.eye21{
    grid-row: 2;
    grid-column: 1;
    position: absolute;
}

#eye24{
    width: 100%;
    height: 100%;
    grid-row: 2;
    grid-column: 10;
    position: relative;
    transform: translateY(-55px);
}

.eye24circle{
    width:.7rem;
    height:.7rem;
    grid-row: 2;
    grid-column: 10;
    position: absolute;
    transform: translate(24px, 80px);
}

.eye24{
    grid-row: 2;
    grid-column: 10;
    position: absolute;
}

#eye31{
    width: 100%;
    height: 100%;
    grid-row: 3;
    grid-column: 1;
    position: relative;
    transform: scale(0.9);
}

.eye31circle{
    width: .7rem;
    height: .7rem;
    grid-row: 3;
    grid-column: 1;
    position: absolute;
    transform: translate(72px, 65px);
}

.eye31{
    grid-row: 3;
    grid-column: 1;
    position: absolute;
}

#eye34{
    width: 100%;
    height: 100%;
    grid-row: 3;
    grid-column: 10;
    position: relative;
    transform: translateY(-35px);
}

.eye34circle{
    width:.7rem;
    height:.7rem;
    grid-row: 3;
    grid-column: 10;
    position: absolute;
    transform: translate(11px, 78px);
}

.eye34{
    grid-row: 3;
    grid-column: 10;
    position: absolute;
}

#eye41{
    width: 100%;
    height: 100%;
    grid-row: 4;
    grid-column: 1;
    position: relative;
    transform: scale(0.9);
}

.eye41circle{
    width: .6rem;
    height: .6rem;
    grid-row: 4;
    grid-column: 1;
    position: absolute;
    transform: translate(56px, 66px);
}

.eye41{
    grid-row: 4;
    grid-column: 1;
    position: absolute;
}

#eye44{
    width: 100%;
    height: 100%;
    grid-row: 4;
    grid-column: 10;
    position: relative;
    transform: scale(0.9);
}

.eye44circle{
    width: 1rem;
    height: 1rem;
    grid-row: 4;
    grid-column: 10;
    position: absolute;
    transform: translate(35px, 60px);
}

.eye44{
    grid-row: 4;
    grid-column: 10;
    position: absolute;
}

#eye51{
    width: 100%;
    height: 100%;
    grid-row: 5;
    grid-column: 1;
    position: relative;
    transform: translateX(50px);
}

.eye51circle{
    width: 1rem;
    height: 1rem;
    grid-row: 5;
    grid-column: 1;
    position: absolute;
    transform: translate(108px, 32px);
}

.eye51{
    grid-row: 5;
    grid-column: 1;
    position: absolute;
}

#eye52{
    width: 100%;
    height: 100%;
    grid-row: 5;
    grid-column: 4;
    position: relative;
}

.eye52circle{
    width: 1.3rem;
    height: 1.3rem;
    grid-row: 5;
    grid-column: 4;
    position: absolute;
    transform: translate(85px, 19px);
}

.eye52{
    grid-row: 5;
    grid-column: 4;
    position: absolute;
}

#eye53{
    width: 100%;
    height: 100%;
    grid-row: 5;
    grid-column: 7;
    position: relative;
}

.eye53circle{
    width: 1rem;
    height: 1rem;
    grid-row: 5;
    grid-column: 7;
    position: absolute;
    transform: translate(87px, 30px);
}

.eye53{
    grid-row: 5;
    grid-column: 7;
    position: absolute;
}

#eye54{
    width: 100%;
    height: 100%;
    grid-row: 5;
    grid-column: 9;
    position: relative;
}

.eye54circle{
    width: .5rem;
    height: .5rem;
    grid-row: 5;
    grid-column: 9;
    position: absolute;
    transform: translate(35px, 46px);
}

.eye54{
    grid-row: 5;
    grid-column: 9;
    position: absolute;
}


#nextPage{
    grid-row: 3;
    grid-column: 7;
    position: absolute;
    text-decoration: none;
    color:white;
    font-size: 1.5rem;
}

#nextPage:hover{
    grid-row: 3;
    grid-column: 7;
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #eye11, #eye12, #eye13,#eye14,#eye51, #eye52, #eye53,#eye54{
        transform: scale(.8);
    }
    #eye21{
        transform: scale(.8) translateY(-3rem);
    }
    #eye24{
        transform: scale(.8) translateY(-3rem) translateX(-2rem);
    }
    #eye31{
        transform: scale(.8);
    }

    #eye34{
        transform: scale(.8) translateY(-1rem) translateX(-2rem);
    }

    #eye44{
        transform: scale(.8) translateY(-1rem) translateX(-2rem);
    }

}


@media only screen and (min-width: 581px) and (max-width: 767px) {
    #container{
        transform: translateX(-50%) scaleX(0.92);
        position: absolute;
        left: 50%;
    }
    #eye11, #eye12,#eye14,#eye51, #eye52,#eye54{
        transform: scale(.7);
    }
    #eye21{
        transform: scale(.75) translateY(-3rem);
    }

    #eye24{
        transform: scale(.75) translateY(-50px) translateX(-1.2rem);
    }
    #eye31{
        transform: scale(.75) translateY(-2rem);
    }
    #eye34{
        transform: scale(.75) translateY(-3rem) translateX(-1rem);
    }
    #eye41{
        transform: scale(.75) translateY(-1rem);
    }
    #eye44{
        transform: scale(.75) translateY(-1rem) translateX(-1.2rem);
    }
    #eye53{
        transform: scale(.75) translateX(-3rem);
    }
    #eye13{
        transform: scale(.75) translateX(3rem);
    }
    @keyframes horizontal-shaking {
        0% { transform: translateX(-50%) scaleX(0.92) }
        25% { transform: translateX(-55%) scaleX(0.92) }
        50% { transform: translateX(45%) scaleX(0.92) }
        75% { transform:  translateX(-60%) scaleX(0.92) }
        100% { transform: translateX(-50%) scaleX(0.92) }
    }
}



@media only screen and (min-width: 481px) and (max-width: 580px) {
    #container{
        transform: translateX(-50%) scaleX(0.7);
        position: absolute;
        left: 50%;
    } 
    #eye11, #eye12,#eye14,#eye51, #eye52,#eye54{
        transform: scale(.8);
    }
    #eye21,#eye24{
        transform: scale(.8) translateY(-4rem);
    }
    #eye31,#eye34{
        transform: scale(.8) translateY(-1.8rem);
    }
    #eye41,#eye44{
        transform: scale(.8) translateY(-1rem);
    }
    #eye53{
        transform: scale(.8) translateX(-2rem);
    }
    #eye13{
        transform: scale(.8) translateX(2.4rem);
    }
    @keyframes horizontal-shaking {
        0% { transform: translateX(-50%) scaleX(0.7) }
        25% { transform: translateX(-55%) scaleX(0.7) }
        50% { transform: translateX(45%) scaleX(0.7) }
        75% { transform:  translateX(-60%) scaleX(0.7) }
        100% { transform: translateX(-50%) scaleX(0.7) }
    }
} 

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #container{
        transform: translateX(-50%) scaleX(0.5) scaleY(0.9);
        position: absolute;
        left: 50%;
    }
    #eye11, #eye12,#eye14,#eye51, #eye52,#eye54{
        transform: scale(.6);
    }
    #eye21,#eye24{
        transform: scale(.6) translateY(-3.2rem);
    }
    #eye31,#eye34{
        transform: scale(.6) translateY(-1.1rem);
    }
    #eye41,#eye44{
        transform: scale(.6) translateY(-1rem);
    }
    #eye53{
        transform: scale(.6) translateX(-3.2rem);
    }
    #eye13{
        transform: scale(.6) translateX(3.8rem);
    }
    @keyframes horizontal-shaking {
        0% { transform: translateX(-50%) scaleX(0.5) scaleY(0.9) }
        25% { transform: translateX(-55%) scaleX(0.5) scaleY(0.9) }
        50% { transform: translateX(45%) scaleX(0.5) scaleY(0.9) }
        75% { transform:  translateX(-60%) scaleX(0.5) scaleY(0.9) }
        100% { transform: translateX(-50%) scaleX(0.5) scaleY(0.9) }
    }
}

@media only screen and (max-width: 300px) {
    #container {
        transform: translateX(-50%) scaleX(0.45) scaleY(0.9);
        position: absolute;
        left: 50%;
    }

    #eye11, #eye12,#eye13,#eye14,#eye51, #eye52,#eye53,#eye54{
        transform: scale(.6);
    }
    #eye21,#eye24{
        transform: scale(.6);
    }
    #eye31,#eye34{
        transform: scale(.6);
    }
    #eye41,#eye44{
        transform: scale(.6);
    }

    @keyframes horizontal-shaking {
        0% { transform: translateX(-5rem); }
        25% { transform: translateX(-5rem); }
        50% { transform: translateX(-5rem); }
        75% { transform: translateX(-5rem); }
        100% { transform: translateX(-5rem); }
    }



} 

#playerCanvas {
    position: absolute; 
    top: 0; 
    left: 0; 
    transform: translate(2rem, 0rem); 
    z-index: 1; 
}

#overlayCanvas {
    position: absolute;
    /* opacity: 1; */
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
    /* transform: translate(2rem, 0rem);  */
    z-index: 2; 
}
