.product-details-container {
  display: flex;
  flex-direction: row;
  margin: 4rem auto;
  padding: 1rem;
  /* gap: 2rem; */
  align-items: center;
  justify-content: space-evenly;
}

.product-image {
  width: 30rem;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.product-info {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.product-info h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.product-price {
  font-size: 1.5rem;
  color: #e74c3c;
  margin-bottom: 0.5rem;
}

.original-price {
  text-decoration: line-through;
  color: #777;
  margin-bottom: 1rem;
}

.product-info button {
  padding: 0.75rem 1.5rem;
  background-color: #ff3b3f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-info button:hover {
  background-color: #e02e33;
}

.discount-info {
  background-color: #ffcc00;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 1rem;
}
