* {
    margin: 0;
    padding: 0;
}
body{
    /* background-image: url('images/background.png'); */
   background-size: cover;
}
@font-face {
    font-family: "sniglet";
    src: url('fonts/Sniglet-webfont.woff');
}

.description-box {
    position: absolute;
    bottom: 20px; 
    left: 20px; 
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    padding: 10px; 
    border-radius: 8px; 
    max-width: 300px; 
    font-family: Arial, sans-serif; 
    font-size: 14px; 
}


header {
    font-family: 'sniglet';
    z-index: 100;
    font-size: 3rem;
    transform: translate(38vw, 1rem);
    color: rgb(246, 205, 68);
    text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black, 1px 1px black, -1px -1px black, -1px 1px black, 1px -1px black;
    position: fixed;
}

svg {
    position: fixed;
    z-index: -100;
    transform: translateX(6vw);
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

nav {
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    z-index: -10;
    
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    transform: translate(6vw, -2rem);
}

h1 {
    font-size: 1rem;
    border: 0.06rem solid black;
    background-color: rgb(248, 247, 243);
    text-align: center;
    padding: 0.3rem;
    text-wrap: wrap;
    transition: border-color 0.3s ease; 
}

h1:hover {
    border-color: red;
    border: .1rem solid red; 
}

.A, .B, .C, .D, .E, .F, .G, .H {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.A {
    grid-column: 4;
    grid-row: 3;
    transform: translate(-0.6vw, -1.5rem);
}

.B {
    grid-column: 7;
    grid-row: 4;
    transform: translate(4.5vw, -6rem);
}

.C {
    grid-column: 10;
    grid-row: 4;
    transform: translate(7vw, -2.5rem);
}

.D {
    grid-column: 11;
    grid-row: 6;
    transform: translate(1vw, -0.3rem);
}

.E {
    grid-column: 7;
    grid-row: 6;
    transform: translate(3.5vw, -0.6rem);
}

.F {
    grid-column: 4;
    grid-row: 6;
    transform: translate(-1.5vw, -0.6rem);
}

.G {
    grid-column: 6;
    grid-row: 9;
    transform: translate(-1.3vw, -1.8rem);
}

.H {
    grid-column: 10;
    grid-row: 9;
    transform: translate(0.3vw, -1.25rem);
}

.assign1, .assign2, .assign3, .assign4, .assign5, .assign6, .assign7, .finalproject {
    padding: 0.13rem;
    width: 8.75rem;
    height: auto;
}

.assign2 {
    width: 7.5rem;
    height: 8.75rem;
}

.assign4 {
    width: 8.75rem;
    height: 5.6rem;
}

.assign5 {
    width: 8.75rem;
    height: 6.9rem;
}

.assign6 {
    width: 10rem;
    height: 7.5rem;
}

.assign7 {
    width: 9.38rem;
    height: 6.25rem;
}

.finalproject {
    width: 9.38rem;
    height: 6.9rem;
}
/* SVG Line Transformation and Media Queries */
svg.line1 {
    position: fixed;
    z-index: -100;
    transform: translateX(6vw) rotate(0deg) scale(1);
}

svg.line2 {
    position: fixed;
    z-index: -100;
    transform: translateX(6vw) rotate(0deg) scale(1);
}

svg.line3 {
    position: fixed;
    z-index: -100;
    transform: translateX(6vw) rotate(0deg) scale(1);
}

@media (max-width: 768px) {
    header{
        font-size: 3rem;
    }
    svg.line1 {
        transform: translateX(-28vw) translateY(-6vh) rotate(1deg) scale(0.75);
    }

    svg.line2 {
        transform: translateX(-28vw) rotate(0deg) scale(0.75);
    }

    svg.line3 {
        transform: translateX(-28vw) translateY(7vh) rotate(0deg) scale(0.75);
    }
}
@media (max-width: 580px) {
    header{
        font-size: 2.5rem;
        margin-bottom: 2rem;
        transform: translate(20vw, 2rem);
    }

    svg.line1 {
        transform: translateX(-24rem) translateY(-6.5rem) rotate(3deg) scale(0.55);
    }

    svg.line2 {
        transform: translateX(-23rem) translateY(.8rem) rotate(-6deg) scale(0.6);
    }

    svg.line3 {
        transform: translateX(-24rem) translateY(5rem) rotate(3deg) scale(0.55);
    }

    nav {
        padding-top: 2rem;
        transform: scale(0.8);
    }
    h1{
        font-size: 1rem;
    }
    .A {
        transform: translate(-7rem, -10rem);
    }
    
    .B {
        transform: translate(1rem, -13rem);
    }
    
    .C {
        transform: translate(5rem, -9rem)
    }
    
    .D {
        transform: translate(5rem, -5rem)
    }
    
    .E {
        transform: translate(2rem, -2rem)
    }
    
    .F {
        transform: translate(-5.5rem, -.8rem)
    }
    
    .G {
        transform: translate(-5rem, -2rem)
    }
    
    .H {
        transform: translate(3rem, 0rem)
    }
    

}


/* @media (max-width: 500px) {
    header{
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    svg.line1,svg.line2,svg.line3 {
        display: none;
    }

    nav {
        padding-top: 7rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .A, .B, .C, .D, .E, .F, .G, .H {
        position: static;
        transform: none;
        flex: 1 1 100%;
        text-align: center;
        padding: 1rem;
    }

    .assign1, .assign2, .assign3, .assign4, .assign5, .assign6, .assign7, .finalproject {
        width: 6rem;
        margin: 0.5rem;
    }
} */
