*{
    margin:0;
    padding:0;
}

@font-face {
    font-family: "sniglet";
    src: url('fonts/Sniglet-webfont.woff');
}

header{
    font-family:'sniglet';
    z-index: 100;
    font-size: 65px;
    transform: translate(470px,20px);
    color:rgb(192, 164, 73);
    position: fixed;
}

svg{
    position: fixed;
    z-index: -100;
    transform: translateX(80px);
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

nav{
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
    z-index: -10;
    
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(10, 1fr);
    transform: translate(80px,-32px);
}



h1{
    font-size: 20px;
    border: 1px solid black;
    background-color: rgb(248, 247, 243);
    text-align: center;
    padding: 5px;

    text-wrap: wrap;
    font-size: 12px;
}



.A{
    grid-column: 4;
    grid-row: 3;
    position: fixed;
    
    display: flexbox;
    justify-content: center;
    align-items: center;
    
    transform: translateY(-10px);
}


.B{
    grid-column: 7;
    grid-row: 4;
    position: fixed;

    transform: translate(0px,-55px);
}

.C{
    grid-column: 10;
    grid-row: 4;
    position: fixed;

    transform: translate(10px,-30px);
}

.D{
    grid-column: 9;
    grid-row: 6;
    position: fixed;

    transform: translate(-30px,-5px);
}


.E{
    grid-column: 6;
    grid-row: 6;
    position: fixed;

    transform: translate(25px,12px);
}

.F{
    grid-column: 4;
    grid-row: 7;
    position: fixed;
    
    transform: translate(-23px,-42px);
}

.G{
    grid-column:6;
    grid-row: 9;
    position: fixed;

    transform: translate(10px,-12px);
}

.H{
    grid-column: 9;
    grid-row: 9;
    position: fixed;

    transform: translate(-25px,5px);
}

.assign1{
    padding: 10px;
    width: 130px;
    height: auto;
}

.empty{
    width: 130px;
    height: auto;
}

.assign1Text{
    text-wrap: wrap;
    font-size: 12px;
    justify-content: center;
    align-items: center;
}

