/*
Drawing on the Web
2 horizontally-aligned canvas elements
*/

body {
  margin: 0;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

#frame {
  margin: 0;
  height: 100vh;
  align-items: center;
  width: 1260px;
  height: 400px;
  margin: auto;
  display: flex;
  flex-shrink: 0;
  justify-content: space-evenly;
}

canvas {
  width: 600px;
  height: 400px;
}

.description-box {
  position: absolute;
  bottom: 20px; 
  left: 20px; 
  background-color: rgba(0, 0, 0, 0.7); 
  color: white; 
  padding: 10px; 
  border-radius: 8px; 
  max-width: 300px; 
  font-family: Arial, sans-serif; 
  font-size: 14px; 
}


img {
  display: none;
}


@media only screen and (prefers-color-scheme: dark) {
  body {
    background-color: rgb(17, 17, 17);
  }
}
