#container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 30px;
}

#container a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    padding: 10px;
    font-size: 15px;
}

.selected{
    background-color: rgb(181, 181, 181);
}

h1{
    font-size: 50px;
}

table, th, td {
    border:1px solid black;
}

.deletebtn{
    color: rgb(18, 105, 255);
}