body {
    margin: 0;
    padding: 0;
}

#container {
    position: fixed;
    top: 18%;
    left: 11%;
    min-height: 78%;
    min-width: 80%;
    width: 80vw;
    height: 80vh;
    overflow: hidden;
    z-index: -1; 
    border: 1px solid black;
}

nav {
    position: absolute;
    top: 8%;
    left: 10%;
    width: 80vw;
    z-index: 10;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 12rem;
    list-style: none;
    font-size: 1.5rem;
}

.logo{
    position: absolute;
    top:1%;
    left:44%;
    font-size: 3rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(238, 79, 79);
    text-decoration: underline;
    text-underline-offset: .5rem;
    text-decoration-color: rgb(255, 0, 0);
}

#container li{
    font-size: 1.5rem;
    padding: .5rem;
}

#container a:hover{
    color: rgb(255, 96, 96);
    text-decoration-color: rgb(242, 0, 0);
}


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resume-container {
    margin-bottom: 30px;
}

.resume {
    background-color: #ff6347;
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.resume:hover {
    background-color: #ff4500; /* Darker shade of your preferred color */
}

.socials {
    margin-top: 10px;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icons li {
    display: inline;
}

.social-icons a {
    text-decoration: none;
    font-size: 2rem;
    color: #000;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ff6347; /* Change to your preferred hover color */
}

.wrapper{
    position: absolute;
    top: 20%;
    left: 25%;
}

.wrapper h1{
    font-size: 5rem;
}