.playBtn {
    z-index: 10;
    position: absolute;
    top: 54.5%;
    left: 44%;
    color: rgb(223, 27, 27);
    font-size: 3rem;
    cursor: pointer;
}



.playBtn:hover{
    top: 42%;
    left: 40%;
    font-size: 6rem;

}


#scene1Video {
    display: none;
}






@media (max-width: 1001px) and (min-width: 700px) {
    .playBtn {
        top: 54.5%;
        left: 35%;
    }

    .playBtn:hover{
        top: 48%;
        left: 30%;
    }

}
@media (max-width: 699px) {
    .playBtn {
        top: 53%;
        left: 45%;
        font-size: 1.5rem;
    }

    .playBtn:hover {
        top: 50%;
        left: 42%;
        font-size: 2rem;
    }
}
