.bigContainer {
    position: relative;
    top: 4.5rem;
    left: 3%;
    width: 68%;
    height: 32rem;
    overflow-y:scroll;
    margin-left: 1rem;
    border: 5px solid black; 
    background-color: white;
    font-family:'Courier New', Courier, monospace;
}

#container{
    font-size: 2rem;
}

.programmingLink{
    color: #fa1413;  
}

.squiggleAbout {
    position: absolute;
    top: 35.5%;  
    left: 8%; 
    z-index: -10;
    transform: scale(1.8);
    fill: #fa1413;  
}

.starAbout {
    position: absolute;
    top: 30.5%; 
    left: -3.5%; 
    z-index: -10;
    transform: scale(.32);
    fill: #fa1413;  
}




@media (max-width: 1300px) and (min-width: 1160px) {
    .bigContainer {
        width: 65%;
        left: 5%;
    }

    .squiggleAbout {
        top: 35.5%;  
        left: 8%; 
        transform: scale(1.4);
    }
    
    .starAbout {
        top: 30.5%; 
        left: -3.5%; 
        transform: scale(0.28);
    }
   
}
@media (max-width: 1159px) and (min-width: 1000px) {
    .bigContainer {
        width: 64%;
        left: 7%;
    }

    .squiggleAbout {
        top: 34%;  
        left: 9%; 
        transform: scale(1.4);
    }
    
    .starAbout {
        top: 30%; 
        left: -4%; 
        transform: scale(0.25);
    }
   

}

@media (max-width: 1001px) and (min-width: 849px) {
    .bigContainer {
        width: 60%;
        left: 10%;
    }

    .squiggleAbout {
        top: 32%;  
        left: 11%; 
        transform: scale(1.4);
    }
    
    .starAbout {
        top: 27.2%; 
        left: -5%; 
        transform: scale(0.2);
    }
 

}

@media (max-width: 850px) and (min-width: 740px) {
    .bigContainer {
        width: 55%;
        left: 15%;
    }

    .squiggleAbout {
        top: 32%;  
        left: 11%; 
        transform: scale(1.4);
    }
    
    .starAbout {
        top: 27.2%; 
        left: -5%; 
        transform: scale(0.2);
    }
}

@media (max-width: 739px) and (min-width: 699px) {
    .bigContainer {
        width:52%;
        left: 18%;
        top: 5rem;
        height: 30rem;  
        overflow-y: auto;
    }

    .squiggleAbout {
        top: 31.5%;  
        left: 12.5%; 
        transform: scale(1.4);
    }
    
    .starAbout {
        top: 27.5%; 
        left: -6%; 
        transform: scale(0.25);
    }
   
}


@media (max-width: 699px) {
    .bigContainer{
        width: 85%;
        left: 5%;
        overflow-y: auto;
        top: -.1rem;
    }
   

    .squiggleAbout {
        top: 48%;  
        left: 37%; 
        transform: scale(1);
    }
    
    .starAbout {
        left: 1%; 
        top: 40%; 
        transform: scale(.2);
    }
}

.projectHeader{
    font-size: 2rem;
    text-align: center;
}

#container ul ul {
    padding-left: 20px;
    margin-top: 10px;
    
}


#container li{
    font-size: 1rem;
    padding: .5rem;
}

#container li div{
    font-size: 1rem;
    padding: .5rem;
}

#container a:hover{
    color: rgb(255, 96, 96);
    text-decoration-color: rgb(242, 0, 0);
}


@media (max-width: 576px) {
    #container{
        min-height: 40vh;
        min-width: 65%;
        width: 65%;
        height: 10vh;
    }
    

    #container li {
        font-size: 2rem; /* Adjust font size for better readability on mobile */
        padding: 0.5rem;
    }

    #container a {
        font-size: 1rem; /* Adjust font size for better readability on mobile */
    }

 
}
