.bigContainer {
    position: relative;
    top: 4.5rem;
    left: 6%;
    width: 65%;
    height: 32rem;
    overflow-y:scroll;
    margin-left: 1rem;
    border: 5px solid black; 
    background-color: white;
    font-family:'Courier New', Courier, monospace;
}

#container{
    font-size: 1rem;
}



@media (max-width: 1300px) and (min-width: 1160px) {
    .bigContainer {
        width: 65%;
        left: 5%;
    }

   
}
@media (max-width: 1159px) and (min-width: 1000px) {
    .bigContainer {
        width: 64%;
        left: 7%;
    }


   

}

@media (max-width: 1001px) and (min-width: 849px) {
    .bigContainer {
        width: 60%;
        left: 10%;
    }

 

}

@media (max-width: 850px) and (min-width: 740px) {
    .bigContainer {
        width: 55%;
        left: 15%;
    }

}

@media (max-width: 739px) and (min-width: 699px) {
    .bigContainer {
        width:52%;
        left: 18%;
        top: 5rem;
        height: 30rem;  
        overflow-y: auto;
    }

   
}


@media (max-width: 699px) {
    .bigContainer{
        width: 85%;
        left: 5%;
        overflow-y: auto;
        top: -.1rem;
    }
   
}

.projectHeader{
    font-size: 2rem;
    text-align: center;
}

#container ul ul {
    padding-left: 20px;
    margin-top: 10px;
    
}


#container li{
    font-size: 1rem;
    padding: .5rem;
}

#container li div{
    font-size: 1rem;
    padding: .5rem;
}

#container a:hover{
    color: rgb(255, 96, 96);
    text-decoration-color: rgb(242, 0, 0);
}


@media (max-width: 576px) {
    #container{
        min-height: 40vh;
        min-width: 65%;
        width: 65%;
        height: 10vh;
    }
    

    #container li {
        font-size: 2rem; /* Adjust font size for better readability on mobile */
        padding: 0.5rem;
    }

    #container a {
        font-size: 1rem; /* Adjust font size for better readability on mobile */
    }

 
}
